.general-container {
    justify-content: center;
    align-items: center;
}

.general-container form {
    padding: 15px;
}
#alert-verde{
    z-index: 100;
    top: -20px;
}
#alert-roja{
    z-index: 100;
    top: -20px;
}
@media screen and (min-width:768px) {
    .general-container form {
        width: 70%;
    }
}

@media screen and (min-width:1000px) {
    .general-container form {
        width: 40%;
    }
}
