<!DOCTYPE html>
{% load static %}
{% load permission_tags %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar mantencion</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/solicitar_mantencion.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://file.myfontastic.com/K9B3SyNkABQPJah8pPK9eE/icons.css" rel="stylesheet">
</head>

<body>
    <div class="menu-container">
        <a href="index.html" class="container-icon">
            <span class="icon-paw"></span>
            <p class="icon-text">Buenos Aires</p>
        </a>
        <span class="icon-bars" id="btn-menu"></span>
        <nav id="navegador">
            <ul>
                <li class="item-user">

                    Bienvenido! {{ request.user.get_full_name }}
                </li>
                <li><a href="{% url 'inicio' %}" class="item-link">Inicio</a></li>
                {% if user.is_anonymous  %}
                <li><a href="{% url 'registro' %}" class="item-link">Registro</a></li>
                {% endif %}
                {% if user|has_role:'cliente' %}
                <li><a href="{% url 'lista_solicitudes' %}" class="item-link">Mis Solicitudes</a></li>
                {% elif user.is_authenticated %}
                <li><a href="{% url 'lsita_solicitueds' %}" class="item-link">Solicitudes</a></li>
                {% endif %}    
                {% if user|has_role:'cliente' %}
                 <li><a href="{% url 'solicitar_mantencion' %}" class="item-link">Solicitar Mantencion</a></li>
                {% endif %}
                <li><a href="{% url 'productos' %}" class="item-link">Productos</a></li>
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input class="item-link" type="submit" value="Cerrar Sesion">
                    </form>
                </li>

                {% else %}
                <li><a href="{% url 'login' %}" class="item-link">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="general-container">
        <form class="bg-light rounded" action="">
            <div class="row">
                <div class="col">
                    <label for="txthora">Hora:</label>
                    <input name="txthora" id="txthora" class="form-control " type="time">
                </div>
                <div class="col">
                    <label for="txtfecha">Fecha:</label>
                    <input name="txtfecha" id="txtfecha" class="form-control" type="date">
                </div>
            </div>
            <div class="form-group">
                <label for="txttipo">Tipo de solicitud</label>
                <select name=""txttipo  id="txttipo" class="form-control" name="" id="">
                    <option value="" slected>Mantención </option>
                    <option value="">Reparación</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtdescripcion">Descripción del problema:</label>
                <textarea class="form-control" name="txtdescripcion" id="txtdescripcion" cols="30" rows="10"></textarea>
            </div>
        </form>


    </div>
   <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/javamenu.js' %}"></script>
</body></html>




